*{margin: 0;}
nav{
  height:10vh;
}
body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
    user-select: none;
    box-sizing: border-box;
}
.wrapper{
  height:90vh;
  /* width:70vw; */
  /* margin: auto; */
  display:flex;
  background-color: rgb(0, 0, 0);
  color:white;
  font-size:20px;
  position: relative;
}
.welcome{
  text-align: justify;
  align-self: center;
  padding:1rem;
}

input,button{
  box-shadow: none !important;
}
.form{
  margin: auto;

}
form>label>span{
  font-size:15px;
}
.fadeout{
  display: none;
}
.poem{
  align-self:center;
  margin: auto;
  background-color: rgb(207, 207, 207);
  width:60%;
  font-size:20px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border-radius: 3px;
}
.poem .bg{
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:90vh;
  position: relative;
  /* overflow: hidden; */
}
.poem span{
  font-weight:700;
  /* color: yellow; */
}
.poem p ,span{z-index:40;position: relative;}
/* .add-bg{
  display: flex;
  padding:5px;
  background-color: coral;
} */
.overlay-bg{
  position: absolute;
  top:0;
  left: 0;
  height:90vh;
  width:100%;
  display: flex;
  z-index:10;
  background-color: rgb(0, 0, 0);
  opacity:.5;
}
.backgrounds{
  /* visibility: hidden; */
  position: absolute;
  width:20%;
  top:0;
  left: 0;
  height:90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  color: black;
  background-color:rgb(255, 255, 255);
  z-index:10;
}
.modifications{
  font-size: 15px;
  position: absolute;
  width:20%;
  padding:10px;
  top:0;
  right: 0;
  height:90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  color: black;
  background-color:rgb(255, 255, 255);
  z-index:10;
}
.modifications>div{
  margin: 12px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

input[type=range]{
  appearance:none;
   height:7px;
   /* width:100px; */
   border-radius:10px;
   background:black
}
input[type=range]::-webkit-slider-thumb{
  appearance:none;
  background-color: rgb(170, 170, 212);
  height:21px;
  width:12px;
  border-radius:30%;
}
input[type=color]{
  /* width:40px; */
}
select{
  border-radius:3px;
  padding:2px;
  width: 90px;
  outline:2px solid white;
  border-color:rgb(0, 0, 0);
}
.img{
  margin:4px;
  border:2px solid white;
}
.a{
  white-space:pre;
  background-color: yellow;
}
@media only screen and (max-width: 276px) {
  .poem{
    font-size:20px;
    background-color: red;
  }
}