@font-face {
  font-family: "Playfair";
  src: url("../public/PlayfairDisplay-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Ysabeau";
  src: url("../public/YsabeauSC-VariableFont_wght.ttf");
  font-weight: 500;
}
* {
  margin: 0;
}

.bordered {
  border-bottom: 2px solid rgb(8, 112, 153) !important;
  color: rgb(8, 112, 153) !important;
}
input,
textarea {
  box-shadow: none !important;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.end {
  justify-content: end;
}
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  user-select: none;
  box-sizing: border-box;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "playfair";
}
.app {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  object-fit: cover;
  aspect-ratio: 16/12;
  background-position: center;
  max-height: 92vh;
  width: 100%;
  overflow-y: scroll;
}

.help,
.about {
  overflow-y: scroll;
}
.help > div > div > div {
  /* display: flex; */
  /* align-items: center; */
  margin-bottom: 2rem;
  border-bottom: 2px solid whitesmoke;
}
.help > div > div > div img {
  /* max-width: 800px; */
  display: flex;
  margin: auto;
  border: 2px solid white;
}
.about img {
  float: left;
}
.about p {
  text-align: justify;
}
.about p::first-letter {
  font-size: 38px;
  font-family: "Times New Roman", Times, serif;
}
.about > div div {
  /* border:2px solid white; */
}
.wrapper {
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  color: white;
  font-size: 20px;
  background-color: black;
  background-size: cover;
  background-position: 50% 30%;
}

input,
button {
  box-shadow: none !important;
}
.form {
  margin: auto;
}
form > label > span {
  font-size: 15px;
}
.fadeout {
  display: none;
}

.choice > div {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.choice .main {
  width: 30vw;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  overflow-y: scroll;
  height: 90vh;
}
.choice .main .main-title {
  color: black;
  text-align: center;
}
.bgUrlParent {
  text-align: center;
}
.choice .display {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90vh;
  width: 68vw;
  color: black;
  font-size: 20px;
  position: relative;
}
.display.write {
  width: 100%;
}
/* .display.write .write- */
.choice .display .items {
  width: 65vw;
  height: 90vh;
  align-self: center;
  justify-content: space-around;
  display: inherit;
  flex-direction: column;
}
.choice .display .items textarea {
  resize: none;
}
.choice > .display > .items {
  justify-items: space-between;
}

.choice .display-msg {
  height: inherit;
  font-size: 100%;
  align-items: center;
  color: rgb(122, 122, 122);
}
.examples {
  max-width: 200px;
  max-height: 200px;
  font-size: 20px;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 5px;
  transition: border, background 0.5s ease;
}
.examples:hover {
  border: 1px solid rgba(255, 255, 255, 0.993);
  background-color: rgb(0, 0, 0);
  color: white;
}
.choice .display .items .display-text {
  height: 70vh;
}
.poem-copy {
  white-space: pre-line;
}
.poem-fxn1,
.poem-fxn2,
.select {
  margin: 0 2px 0 2px;
  font-size: 15px;
  padding: 1px !important;
  margin: 0 !important;
}
.choice-fxns > li span,
.poem-fxns > li span {
  /* display: flex; */
  color: rgb(255, 255, 255) !important;
  transition: all 0.5s ease;
  border-radius: 5px;
  /* background: linear-gradient(to right, rgb(55, 145, 103), rgb(42, 176, 238)); */
}

hr {
  border: 2px solid rgb(0, 0, 0);
  width: 100%;
}
.command {
  height: 92vh;
  background-color: white;
  width: 80%;
  display: flex;
  margin: auto;
  overflow-y: auto;
}
.command textarea {
  white-space: normal;
}

@media only screen and (max-width: 766px) {
  .nav-link {
    font-size: 15px;
  }
  .choice-fxns > li span,
  .poem-fxns > li span {
    font-size: 10px;
    margin: 0;
  }
  /* .choice .main{width:20vw;} */
  .choice .main .main-title {
    font-size: 12px;
  }
  .choice .display .items {
    width: 95%;
  }
  .choice .main .examples {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
  }
  .modal-dialog {
    max-width: max-content;
  }
}
@media only screen and (max-width: 576px) {
  body {
    background-color: black;
  }
  form > label > span {
    font-size: 10px;
  }
  .url-bg {
    border: 3px solid red;
    display: flex;
    width: 5%;
  }
  .choice .display .items .display-text {
    height: 50vh;
  }
  .command .command-text {
    font-size: 15px;
  }
  .choice > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 90vh;
  }
  .logo > img {
    width: 4rem;
  }
  .choice .examples {
    margin: 0 15px 0 15px;
  }
  /* .poem-fxns>li>span{padding: 10px;} */
  .choice .main {
    flex-flow: row nowrap;
    width: 100vw;
    height: 20vh;
    display: block;
    overflow-y: hidden;
  }
  .choice .display {
    font-size: 10px;
  }
  .choice .main > div {
    display: flex;
    background-color: rgb(207, 207, 207);
    overflow-x: scroll;
    /* width:100vw; */
    /* color:#f8f9fa; light color */
  }
  .choice .main .main-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .choice .examples {
    font-size: 10px;
    height: 50px;
    overflow: hidden;
    min-width: 100px;
  }
  .choice .display {
    width: 100vw;
    font-size: 15px;
  }

  nav,
  .poem,
  .wrapper div {
    font-size: 15px;
  }
  .poem-fxns {
    display: flex;
    flex-direction: row;
  }
  .poem .text {
    margin-top: 2rem;
  }

  .modifications > div > span {
    white-space: pre;
  }
  .modifications .gradient {
    border: solid;
  }
  .modifications .gradient input[type="color"] {
    width: 100px;
  }
  .modifications .gradient > div {
    display: flex;
  }
}
@media only screen and (max-width: 437px) {
  .poem-fxn1,
  .poem-fxn2 {
    margin: 0 1px 0 1px;
  }
  .command .command-text {
    font-size: 12px;
  }
  .navbar-toggler {
    /* font-size: 60%; */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 130%;
  }
  .about div {
    padding: 10px;
  }
  .navbar-brand {
    margin: 0;
  }
  /* .navbar-brand img {
    width: 3.6rem;
  } */
}
